@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 100vh;
  font-family: 'Mulish', sans-serif;
}

.containers {
  display: none;
  margin: 5px 10px;
}

#list-container {
  border: 3px solid #000;
}

main {
  height: 100%;
  width: 100%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #000;
  margin: 5px 10px;
}

header,
footer {
  width: 100%;
}

#nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  margin-right: 10px;
}

#nav-date {
  text-align: right;
  margin: 5px 10px;
}

#logo {
  margin-left: 10px;
}

.links {
  cursor: pointer;
  transition: all 0.5s ease;
}

.links:hover {
  scale: 1.1;
}

#foot {
  margin-left: 10px;
  height: 100%;
  padding: 0;
}

#foot-container {
  margin: 5px 10px;
  border: 3px solid #000;
}

div.active {
  display: block;
}

li.active {
  align-self: center;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(12, 6, 169);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 40px;
}

.list span {
  margin-left: 10px;
}

.btn-remove {
  margin-right: 10px;
}

#list-all {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grey {
  background-color: rgb(211, 211, 211);
}

#addBook {
  display: block;
  width: 100%;
}

#addBook-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  align-items: center;
  margin: 0 auto;
}

#addBook-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.form-values {
  width: 100%;
  height: 30px;
  border: 3px solid black;
  font-size: 16px;
}

.btn {
  height: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: white;
  border: 2px solid black;
  box-shadow: 3px 3px black;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.559);
}

.btn:active {
  background-color: rgba(255, 255, 255, 0.559);
  box-shadow: 1px 1px black;
  transform: translateY(2px);
}

#contact-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#contact {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

#form-submit {
  align-self: end;
}
